.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    color: wheat;
    margin-bottom: 0.5rem;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    color: black;
    background-color: wheat;
}

.new-expense__actions {
    text-align: right;
}

.new-expense__actions button{
    color: black;
    background-color: wheat;
}

.new-expense__actions button:hover{
    background-color: black;
    border: 3px wheat double;
    color: wheat;
    font-style: italic;
}